.cart-widget {
	display: grid;
	justify-content: center;
	align-items: center;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 8px;
}

.cart-widget:hover {
	background-color: #0A6ED1;
}

.cart-widget:active {
	background-color: inherit;
}

.cart-widget__icon {
	cursor: pointer;
	width: 100%;
	height: 100%;
	object-fit: contain;
	padding: 7px;
}

.cart-widget:hover .cart-widget__icon {
	color: white;
}

.cart-widget:active .cart-widget__icon {
	color: #0A6ED1;
}

.cart-widget__container {
	position: relative;
}

.cart-widget__container > .item-number-indicator__container {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -5px;
	right: -4px;
	width: 1.3rem;
	height: 1.3rem;
	border-radius: 50%; 
	background-color: #f44444;
	border: 2px solid #f44444;
}

.cart-widget .item-number-indicator {
	color: white;
}
